.header {
  width: 100%;
  padding: 16px 0;
  background-color: var(--background);

  color: var(--textColor);
}

.list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.logo {
  width: 150px;
}
.menu {
  display: flex;

  align-items: center;
  gap: 36px;
}

.list li a.active {
  font-weight: bold;
  text-decoration: underline;
}
