<section id="about">
  <div class="container about">
    <div class="about-content">
      <h2>Про нас</h2>
      <p>
        Наша історія почалася з великої пристрасті до створення прекрасних та
        смачних букетів з зефіру. Засновниця компанії власноруч виготовляє кожен
        букет, вкладаючи у нього душу та використовуючи лише натуральні
        інгредієнти. Вона також створює багато інших смаколиків, які зроблять
        ваше свято та будні неймовірними. Кожен наш продукт — це поєднання
        любові, творчості та природних смаків, які дарують радість та насолоду.
      </p>
    </div>
    <div class="about-video">
      <div class="video-container">
        <video src="video1.mp4" alt="Процес виготовлення" controls></video>
      </div>
      <button id="prevBtn" class="video-btn prev-btn">&larr;</button>
      <button id="nextBtn" class="video-btn next-btn">&rarr;</button>
    </div>
  </div>
</section>
