<section id="about" class="about">
  <div class="container about">
    <div class="about-content">
      <h2>About Us</h2>
      <p>
        Our story began with a great passion for creating beautiful and
        delicious marshmallow bouquets. The founder of the company makes each
        bouquet, putting her heart and soul into it and using only natural
        ingredients. She also creates many other delicacies that will make your
        holiday and everyday life incredible. Each of our products is a
        combination of love, creativity, and natural flavours that bring joy and
        pleasure.
      </p>
    </div>
    <div class="about-video">
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/RYL7JFJ0urE"
          title="Unicorn Marshmallow"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <button id="prevBtn" class="video-btn prev-btn">&larr;</button>
      <button id="nextBtn" class="video-btn next-btn">&rarr;</button>
    </div>
  </div>
</section>
