<section id="about">
  <div class="container">
    <div class="about-content">
      <h2>About Us</h2>
      <p>
        Our journey started with a passion for creating beautiful and tasty
        marshmallow bouquets. Every bouquet is handcrafted with love, ensuring a
        delightful experience for all customers. From humble beginnings, we've
        grown into a community favorite, sharing sweetness with each carefully
        made bouquet.
      </p>
    </div>
    <div class="about-image">
      <img src="../img/about/about.jpg" alt="Making Marshmallows" />
    </div>
  </div>
</section>
