<section id="footer">
  <div class="container">
    <div class="container">
      <h2>Contact Us</h2>
      <div class="social-links">
        <a href="https://instagram.com"
          ><img src="images/instagram-icon.png" alt="Instagram"
        /></a>
        <a href="https://facebook.com"
          ><img src="images/facebook-icon.png" alt="Facebook"
        /></a>
        <a href="https://youtube.com"
          ><img src="images/youtube-icon.png" alt="YouTube"
        /></a>
      </div>
      <form>
        <input type="text" name="name" placeholder="Your Name" required />
        <input
          type="text"
          name="contact"
          placeholder="Your Contact Info"
          required
        />
        <textarea name="message" placeholder="Your Message"></textarea>
        <button type="submit">We'll Get Back to You</button>
      </form>
    </div>
  </div>
</section>
