<section class="header" id="header">
  <div class="container">
    <nav>
      <ul class="list">
        <span
          ><li>
            <a href="#hero">
              <img class="logo" src="../img/logo/logo.png" alt="logo" />
            </a></li
        ></span>
        <span class="menu">
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#shop">Shop</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#footer">Contact</a></li></span
        >
      </ul>
    </nav>
  </div>
</section>
