<section class="shop">
  <h2>Our Products</h2>
  <div class="product-cards">
    <div class="card" data-description="Опис продукту 1" data-calories="200">
      <img src="../img/shop/img1.jpg" alt="Продукт 1">
      <h3 class="card-title">Продукт 1</h3>
      <p>$25.00</p>
      <a href="tel:1234567890" class="card-button">Замовити</a>
    </div>


    <div class="product-cards">
      <div class="card" data-description="Опис продукту 1" data-calories="200">
        <img src="../img/shop/img2.jpg" alt="Продукт 1">
        <h3 class="card-title">Продукт 1</h3>
        <p>$25.00</p>
        <a href="tel:1234567890" class="card-button">Замовити</a>
      </div>


      <div class="product-cards">
        <div class="card" data-description="Опис продукту 1" data-calories="200">
          <img src="../img/shop/img3.jpg" alt="Продукт 1">
          <h3 class="card-title">Продукт 1</h3>
          <p>$25.00</p>
          <a href="tel:1234567890" class="card-button">Замовити</a>
        </div>


        <div class="product-cards">
          <div class="card" data-description="Опис продукту 1" data-calories="200">
            <img src="../img/shop/img4.jpg" alt="Продукт 1">
            <h3 class="card-title">Продукт 1</h3>
            <p>$25.00</p>
            <a href="tel:1234567890" class="card-button">Замовити</a>
          </div>


          <div class="product-cards">
            <div class="card" data-description="Опис продукту 1" data-calories="200">
              <img src="../img/shop/img5.jpg" alt="Продукт 1">
              <h3 class="card-title">Продукт 1</h3>
              <p>$25.00</p>
              <a href="tel:1234567890" class="card-button">Замовити</a>
            </div>


            <div class="product-cards">
              <div class="card" data-description="Опис продукту 1" data-calories="200">
                <img src="../img/shop/img6.jpg" alt="Продукт 1">
                <h3 class="card-title">Продукт 1</h3>
                <p>$25.00</p>
                <a href="tel:1234567890" class="card-button">Замовити</a>
              </div>



</section>
